*{
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC444;
    font-family: 'Rubik Mono One', sans-serif;
    flex-direction: column;
} 
a{
    text-decoration: none;
}
.word{
    color:#FFC444;
    line-height: 1;
           
}
.word span{
    font-weight: 900;
    display: inline-block;
    font-size: 10vw;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    cursor: pointer;

}
@keyframes move{
    0%{
       transform: translate(-33%,0);
    }
    50%{
        text-shadow: 0 15px 40px rgba(0,0,0,0.6);
    }
    100%{
        transform: translate(33%,0);
    }
}
 .word span:nth-child(2){
animation-delay: 0.5s;
 }
 .word span:nth-child(3){
    animation-delay: 1s;  
}
.word span:nth-child(4){
     animation-delay: 1.5s;
}